/* File of design for our website design */
/* Author: Zed Fernandez */
@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=IBM+Plex+Sans&family=Lato:ital@1&family=Mochiy+Pop+P+One&family=Open+Sans&family=Young+Serif&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;

}
#hero-img {
    width: 100%;
}
div {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
}
.home-title {
    color: rgb(225, 168, 168);
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: rgb(13, 21, 20);
}
  nav a {
    text-align: center;
    color: rgb(39, 44, 44);
    text-decoration: none;
    padding: 35px;
  }
  .button-box {
    text-align: center;
  }
  main section {
    text-align: center;
  }
  main section img {
    box-sizing: border-box;
  }
#background {
    height: 725px;
    background-color: rgb(60, 84, 69);
}
#logo_link {
    padding-top: 5px;
}
header {
    background-color: rgb(168, 187, 187);
    min-height: fit-content;
}
nav a:hover {
    background-color: rgb(203, 222, 222);
    color: rgb(196, 152, 98);
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgb(236, 185, 123);
    color: black;
}
.rivers-card {
    margin: 200px 0;
}
.camping-card {
    margin: 200px 0;
}
.rapids-card {
    margin: 200px 0;
}
.card-img {
    border-radius: 10px solid #d9c2a3;
}

.msg {
    background-color: white;
    background-color: #6f7364;
  line-height: 1.5em;
  padding: 35px;
}
.msg h2 {
    color: rgb(244, 186, 186);
}
.msg p { 
    color: black;
    padding-bottom: 15px;
}
footer {
    background-color: rgb(147, 149, 153);
    text-align: left;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer p a:hover {
    text-decoration: underline;
}
footer .social img {
padding-top: 15px;
}
footer a:hover {
    color: black;
    text-decoration: underline;
}
.icon {
    width: 80px;
    padding-top: 10px;
}





























